In [3]:
#*****************************************************************************
#**
#**  Pandas Homework: Pandas, Pandas, Pandas
#**
#**   Heroes of Pymoli
#**
#**     Author: George Alonzo
#**   Due Date: Sept 25, 2021
#**
#*****************************************************************************

import pandas as pd

purchase_file = "Resources/purchase_data.csv"

purchase_file_df = pd.read_csv(purchase_file)
#purchase_file_df["Price"] = purchase_file_df["Price"].map("${:.2f}".format)
purchase_file_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [11]:
# PLAYER COUNT

player_num = purchase_file_df["SN"].count()
player_num_unique = len(purchase_file_df["SN"].unique())

print("PLAYER COUNT")
player_count_df = pd.DataFrame({"Total Players (Unique)": [player_num_unique]})
player_count_df

PLAYER COUNT

   Total Players (Unique)
0                     576

In [13]:
# PURCHASING ANALYSIS (TOTAL)

item_unique = len(purchase_file_df["Item Name"].unique())
avg_price = purchase_file_df["Price"].mean()
purchases_num = purchase_file_df["Purchase ID"].count()
tot_revenue = purchase_file_df["Price"].sum()

purchasing_analysis_df = pd.DataFrame({"Number of Unique Items": [item_unique], "Average Price": [avg_price],
                                       "Number of Purchases": [purchases_num], "Total Revenue": [tot_revenue]})
purchasing_analysis_df["Average Price"] = purchasing_analysis_df["Average Price"].map("${:.2f}".format)
purchasing_analysis_df["Total Revenue"] = purchasing_analysis_df["Total Revenue"].map("${:,.2f}".format)
print("PURCHASING ANALYSIS (TOTAL)")
purchasing_analysis_df

PURCHASING ANALYSIS (TOTAL)

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [24]:
# GENDER DEMOGRAPHICS
print("GENDER DEMOGRAPHICS")

#Create new DF with distinct Screen Names for demographics
gender_distinct_df = purchase_file_df[["Gender","SN"]].drop_duplicates()
distinct_tot = gender_distinct_df["SN"].count()

gender_counts = gender_distinct_df["Gender"].value_counts()
gender_pcts = (gender_distinct_df["Gender"].value_counts() / distinct_tot) *100
gender_demo_df = pd.DataFrame({"Total Count": gender_counts, "Percentage": gender_pcts})
gender_demo_df["Percentage"] = gender_demo_df["Percentage"].map("{:.2f}%".format)
gender_demo_df
print("ADD SORT?")

GENDER DEMOGRAPHICS
ADD SORT?

In [80]:
# PURCHASING ANALYSIS (GENDER)
print("PURCHASING ANALYSIS (GENDER)")

g_purchases_df = purchase_file_df[["Gender", "Price"]]
g_group = g_purchases_df.groupby(["Gender"])

g_summary_df = g_group.count()
g_summary_df = g_summary_df.rename(columns = {"Price": "Purchase Count"})
g_summary_df["Avg Purchase Price"] = g_group.mean()
g_summary_df["Avg Purchase Price"] = g_summary_df["Avg Purchase Price"].map("${:.2f}".format)
g_summary_df["Tot Purchase Value"]= g_group.sum()
g_summary_df["Tot Purchase Value"] = g_summary_df["Tot Purchase Value"].map("${:.2f}".format)
g_summary_df

PURCHASING ANALYSIS (GENDER)

                       Purchase Count Avg Purchase Price Tot Purchase Value
Gender
Female                            113              $3.20            $361.94
Male                              652              $3.02           $1967.64
Other / Non-Disclosed              15              $3.35             $50.19

In [ ]:
# AGE DEMOGRAPHICS
print("AGE DEMOGRAPHICS")

In [ ]:
# PURCHASING ANALYSIS (AGE)
print("PURCHASING ANALYSIS (AGE)")

In [ ]:
# TOP SPENDERS
print("TOP SPENDERS")

In [ ]:
# MOST POPULAR ITEMS
print("MOST POPULAR ITEMS")

In [ ]:
# MOST PROFITABLE ITEMS
print("MOST PROFITABLE ITEMS")