In [186]:
#*****************************************************************************
#**
#**  Pandas Homework: Pandas, Pandas, Pandas
#**
#**   Heroes of Pymoli
#**
#**     Author: George Alonzo
#**   Due Date: Sept 25, 2021
#**
#*****************************************************************************

import pandas as pd
import numpy as np

purchase_file = "Resources/purchase_data.csv"

purchase_file_df = pd.read_csv(purchase_file)
#purchase_file_df["Price"] = purchase_file_df["Price"].map("${:.2f}".format)
#purchase_file_df.head()

In [184]:
# PLAYER COUNT
print("*** THIS IS OK *** PLAYER COUNT")

player_num = purchase_file_df["SN"].count()
player_num_unique = len(purchase_file_df["SN"].unique())

player_count_df = pd.DataFrame({"Total Players (Unique)": [player_num_unique]})
player_count_df.style.set_properties(**{'text-align': 'left'})

*** THIS IS OK *** PLAYER COUNT

In [180]:
# PURCHASING ANALYSIS (TOTAL)
print("*** THIS IS OK *** PURCHASING ANALYSIS (TOTAL)")

item_unique = len(purchase_file_df["Item Name"].unique())
avg_price = purchase_file_df["Price"].mean()
purchases_num = purchase_file_df["Purchase ID"].count()
tot_revenue = purchase_file_df["Price"].sum()

purchasing_analysis_df = pd.DataFrame({"Number of Unique Items": [item_unique], "Average Price": [avg_price],
                                       "Number of Purchases": [purchases_num], "Total Revenue": [tot_revenue]})
purchasing_analysis_df["Average Price"] = purchasing_analysis_df["Average Price"].map("${:.2f}".format)
purchasing_analysis_df["Total Revenue"] = purchasing_analysis_df["Total Revenue"].map("${:,.2f}".format)

purchasing_analysis_df.style.set_properties(**{'text-align': 'left'})

*** THIS IS OK *** PURCHASING ANALYSIS (TOTAL)

In [179]:
# GENDER DEMOGRAPHICS
print("*** THIS IS OK *** GENDER DEMOGRAPHICS")

#Create new DF with distinct Screen Names for demographics
gender_distinct_df = purchase_file_df[["Gender","SN"]].drop_duplicates()


distinct_tot = gender_distinct_df["SN"].count()
gender_counts = gender_distinct_df["Gender"].value_counts()
gender_pcts = (gender_distinct_df["Gender"].value_counts() / distinct_tot) *100
gender_demo_df = pd.DataFrame({"Total Count": gender_counts, "Percentage": gender_pcts})
gender_demo_df["Percentage"] = gender_demo_df["Percentage"].map("{:.2f}%".format)
gender_demo_df.style.set_properties(**{'text-align': 'left'})

*** THIS IS OK *** GENDER DEMOGRAPHICS

                       Total Count Percentage
Male                           484     84.03%
Female                          81     14.06%
Other / Non-Disclosed           11      1.91%

In [177]:
# PURCHASING ANALYSIS (GENDER)
print("*** THIS IS OK *** PURCHASING ANALYSIS (GENDER)")

purchases_df = purchase_file_df[["Gender","Price"]]
purchases_df.head()

purchases_group = purchases_df.groupby(["Gender"]).count()
purchases_group.columns = ["Purchase Count"]
purchases_group["Average Purchase Price"] = purchases_df.groupby(["Gender"]).mean()
purchases_group["Total Purchase Price"] = purchases_df.groupby(["Gender"]).sum()
purchases_group["Avg Total Purchase Price"] = purchases_group["Total Purchase Price"] / gender_counts

purchases_group["Average Purchase Price"] = purchases_group["Average Purchase Price"].map("${:,.2f}".format)
purchases_group["Total Purchase Price"] = purchases_group["Total Purchase Price"].map("${:,.2f}".format)
purchases_group["Avg Total Purchase Price"] = purchases_group["Avg Total Purchase Price"].map("${:,.2f}".format)
purchases_group.head().style.set_properties(**{'text-align': 'left'})

*** THIS IS OK *** PURCHASING ANALYSIS (GENDER)

In [176]:
# AGE DEMOGRAPHICS
print("*** THIS IS OK *** AGE DEMOGRAPHICS")

age_demo_df = purchase_file_df[["SN","Age"]].drop_duplicates()
del age_demo_df["SN"]
#age_demo_df.head()

age_bins = [0,9,14,19,24,29,34,39,999]
age_groups =["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
age_demo_df["Age Group"] = pd.cut(age_demo_df["Age"], age_bins, labels=age_groups, include_lowest=True)
#age_demo_df.head()

age_group = age_demo_df.groupby("Age Group").count()
age_group.columns = ["Total Count"]
age_group["Percentage of Players"] = (age_group["Total Count"] / player_num_unique) *100
age_group["Percentage of Players"] = age_group["Percentage of Players"].map("{:.2f}%".format)
age_group.style.set_properties(**{'text-align': 'left'})
#age_group[["Age Group"]].count()

*** THIS IS OK *** AGE DEMOGRAPHICS

In [175]:
# PURCHASING ANALYSIS (AGE)
print("PURCHASING ANALYSIS (AGE)")

#age_purchases_df = purchase_file_df[["Purchase ID","Age","Price"]]
#del age_purchases_df["SN"]
#age_purchases_df.head()

age_purch_bins = [0,9,14,19,24,29,34,39,999]
age_purch_groups =["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
purchase_file_df["Age Group"] = pd.cut(purchase_file_df["Age"], age_purch_bins, labels=age_purch_groups, include_lowest=True)
purchase_file_df.head()

#age_purch_group = purchase_file_df.groupby("Age Group").count()
#age_purch_group.columns = ["Total Count"]
#age_purch_group = purchase_file_df.groupby("Price").mean()
#age_purch_group.columns = ["Average Purchase Price"]
#age_purch_group
#age_purch_group.columns = ["Total Count"]
#age_purch_group["Percentage of Players"] = (age_purch_group["Total Count"] / player_num_unique) *100
#age_purch_group["Percentage of Players"] = age_purch_group["Percentage of Players"].map("{:.2f}%".format)
#age_purch_group.head()

PURCHASING ANALYSIS (AGE)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [185]:
# TOP SPENDERS
print("*** THIS IS OK *** TOP SPENDERS")

spenders_df = purchase_file_df[["SN", "Price"]]
spenders_df.head()

spenders_group = spenders_df.groupby(["SN"]).count()
spenders_group.columns = ["Purchase Count"]
spenders_group["Average Purchase Price"] = spenders_df.groupby(["SN"]).mean()
spenders_group["Total Purchase Value"] = spenders_group["Purchase Count"] * spenders_group["Average Purchase Price"]
spenders_group = spenders_group.sort_values("Total Purchase Value", ascending=False)
spenders_group["Average Purchase Price"] = spenders_group["Average Purchase Price"].map("${:,.2f}".format)
spenders_group["Total Purchase Value"] = spenders_group["Total Purchase Value"].map("${:,.2f}".format)

spenders_group.head().style.set_properties(**{'text-align': 'left'})

*** THIS IS OK *** TOP SPENDERS

In [161]:
# MOST POPULAR ITEMS
print("*** TRY TO LEFT-JUSTIFY ITEM NAME COLUMN *** MOST POPULAR ITEMS")

item_df = purchase_file_df[["Item ID", "Item Name", "Price"]]
item_df.head()

item_group_df = item_df.groupby(["Item ID","Item Name"]).count()
item_group_df.columns = ["Purchase Count"]
item_group_df["Item Price"] = item_df.groupby(["Item ID","Item Name"]).mean()

item_group_df["Total Purchase Value"] = item_group_df["Purchase Count"] * item_group_df["Item Price"]
item_group_df = item_group_df.sort_values("Purchase Count", ascending=False)
item_group_df["Item Price"] = item_group_df["Item Price"].map("${:,.2f}".format)
item_group_df["Total Purchase Value"] = item_group_df["Total Purchase Value"].map("${:,.2f}".format)
item_group_df.head().style.set_properties(**{'text-align': 'left'})

*** TRY TO LEFT-JUSTIFY ITEM NAME COLUMN *** MOST POPULAR ITEMS

In [170]:
print("*** OK, BUT DO I NEED ALL THE CODE? *** MOST PROFITABLE ITEMS")
print("*** HOW TO LEFT-JUSTIFY ITEM NAME? *** MOST PROFITABLE ITEMS")

item_df = purchase_file_df[["Item ID", "Item Name", "Price"]]
item_df.head()

item_group_df = item_df.groupby(["Item ID","Item Name"]).count()
item_group_df.columns = ["Purchase Count"]
item_group_df["Item Price"] = item_df.groupby(["Item ID","Item Name"]).mean()

item_group_df["Total Purchase Value"] = item_group_df["Purchase Count"] * item_group_df["Item Price"]
item_group_df = item_group_df.sort_values("Total Purchase Value", ascending=False)
item_group_df["Item Price"] = item_group_df["Item Price"].map("${:,.2f}".format)
item_group_df["Total Purchase Value"] = item_group_df["Total Purchase Value"].map("${:,.2f}".format)
item_group_df.head().style.set_properties(**{'text-align': 'left'})

*** OK, BUT DO I NEED ALL THE CODE? *** MOST PROFITABLE ITEMS