In [74]:
#*****************************************************************************
#**
#**  Pandas Homework: Pandas, Pandas, Pandas
#**
#**   Heroes of Pymoli
#**
#**     Author: George Alonzo
#**   Due Date: Sept 25, 2021
#**
#*****************************************************************************

import pandas as pd

purchase_file = "Resources/purchase_data.csv"

purchase_file_df = pd.read_csv(purchase_file)
#purchase_file_df["Price"] = purchase_file_df["Price"].map("${:.2f}".format)
purchase_file_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [83]:
# PLAYER COUNT
print("PLAYER COUNT")
player_num = purchase_file_df["SN"].count()
player_num
#player_num_unique = len(purchase_file_df["SN"].unique())
#print(f"Total Number of Players:" ,player_num, "/ Unique Screen Names:", player_num_unique)

PLAYER COUNT

780

In [77]:
# PURCHASING ANALYSIS (TOTAL)
print("PURCHASING ANALYSIS (TOTAL)")
item_unique = len(purchase_file_df["Item Name"].unique())
print("Number of Unique Items:" ,item_unique)

avg_price = purchase_file_df["Price"].mean()
print("The average price paid is", avg_price)

# HOLD FOR AVERAGE PURCHASE PRICE

purchases_num = purchase_file_df["Purchase ID"].count()
print("Total Number of Purchases:", purchases_num)

tot_revenue = purchase_file_df["Price"].sum()
print("Total Revenue:", tot_revenue)

PURCHASING ANALYSIS (TOTAL)
Number of Unique Items: 179
The average price paid is 3.050987179487176
Total Number of Purchases: 780
Total Revenue: 2379.77

In [80]:
# GENDER DEMOGRAPHICS
print("GENDER DEMOGRAPHICS")
gender_counts = purchase_file_df["Gender"].value_counts()
gender_pcts = purchase_file_df["Gender"].value_counts() / 
"print(gender_counts)

GENDER DEMOGRAPHICS
Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [ ]:
# PURCHASING ANALYSIS (GENDER)
print("PURCHASING ANALYSIS (GENDER)")

In [ ]:
# AGE DEMOGRAPHICS
print("AGE DEMOGRAPHICS")

In [ ]:
# PURCHASING ANALYSIS (AGE)
print("PURCHASING ANALYSIS (AGE)")

In [ ]:
# TOP SPENDERS
print("TOP SPENDERS")

In [ ]:
# MOST POPULAR ITEMS
print("MOST POPULAR ITEMS")

In [ ]:
# MOST PROFITABLE ITEMS
print("MOST PROFITABLE ITEMS")